*.o
*.a
/parse.c
mkmf.log
/baseruby
/miniruby
Makefile
/.rbconfig.time
/.ext
/rbconfig.rb
/largefile.h
/config.h
/config.log
/config.status
/autom4te.cache
/.installed.list
/configure
/install
/ext/dl/call.func
/ext/dl/callback.func
/ext/dl/cbtable.func
/ext/dl/dlconfig.h
/ext/dl/dlconfig.rb
/ext/openssl/extconf.h
/ext/win32ole/.document
/x68/select.c.save

